#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#weather-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
}

#weather-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#weather-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.weather-data {
    font-size: 18px;
    margin-bottom: 10px;
}

.weather-data span {
    font-weight: bold;
    color: #007bff;
}
